<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="system.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="system.domain.User">
            <result column="id" property="id"/>
                <result column="username" property="username"/>
                <result column="name" property="name"/>
                <result column="password" property="password"/>
                <result column="dept_id" property="deptId"/>
                <result column="email" property="email"/>
                <result column="mobile" property="mobile"/>
                <result column="status" property="status"/>
                <result column="user_id_create" property="userIdCreate"/>
                <result column="create_time" property="createTime"/>
                <result column="update_time" property="updateTime"/>
                <result column="sex" property="sex"/>
                <result column="birth" property="birth"/>
                <result column="pic_id" property="picId"/>
                <result column="live_address" property="liveAddress"/>
                <result column="province" property="province"/>
                <result column="city" property="city"/>
                <result column="district" property="district"/>
                <result column="note" property="note"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                    id,
                    username, name, password, dept_id, email, mobile, status, user_id_create, create_time, update_time, sex, birth, pic_id, live_address, province, city, district, note
    </sql>


</mapper>